@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", "Courier New", monospace;
  line-height: 1.2;
  font-weight: 700;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Black Ops One", "Impact", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

button {
  border-radius: 0;
  border: 4px solid #000000;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 800;
  font-family: "JetBrains Mono", monospace;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: none;
  box-shadow: 4px 4px 0px 0px #000000;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 4px 4px 0px 0px #000000;
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px #000000;
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px 0px #000000;
}

button:focus,
button:focus-visible {
  outline: 4px solid #000000;
  outline-offset: 2px;
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
